<footer class="w-full bg-[--accent-color] flex flex-col justify-between border-top">
    <div class="flex flex-row items-center justify-between">
    <button class="bg-[--secondary-color] text-black font-bold !py-2 !px-4 rounded">
        Logo
    </button>
    <button class="bg-[--secondary-color] text-black font-bold !py-2 !px-4 rounded">
        Nosotros
    </button>
    <div class="flex flex-row">
        <button>
            <img src="@/assets/icons/facebook.svg" class="w-12 h-12" alt="facebook icon">
        </button>
        <button>
            <img src="@/assets/icons/instagram.svg" class="!w-12 !h-12" alt="instagram icon">
        </button>
        <button>
            <img src="@/assets/icons/x.svg" class="!w-12 !h-12" alt="x icon">
        </button>
    </div>
    </div>
    <div class="flex justify-center">
        © Agüizoturs 2024
    </div>
</footer>